/* 
============================================
                Utilities
============================================
*/

/* 
============================================
                Main CSS
============================================
*/

.dashboard-sidebar {
    background-color: #032055;
    height: 100vw;
    padding: 0 12px 0px 25px;
}

.dashboard-sidebar ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dashboard-sidebar .active {
    background-color: #001232;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 14px #f50b16
}

.dashboard-sidebar ul a li {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-transition: all ease 0.5s;
    width: 100%;

}

.dashboard-sidebar ul a li span {
    margin-left: 10px;
}

.dashboard-sidebar ul a:hover {
    background-color: #001232;
    color: white;
    border-radius: 5px;
    transition: all ease 0.5s;
    box-shadow: 0px 0px 14px #f50b16
}

/* Main Section */
.dashboard-main-section {
    background-color: #032055;
    padding: 20px;
    border-left: 1px solid #11326f;
    ;
}

.total-sec {
    border-radius: 5px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: white;
    background-color: #11326f;
}

.main-sec-icon {
    font-size: 65px;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    font-weight: 100;
}

.micon {
    color: #FFC107;
}

.ticon {
    color: #E84646;
}

.bicon {
    color: #7BB13C;
}

.uicon {
    color: #00D0F1;
}

.widget-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget-flex b {
    font-size: 25px;
}

/* 
============================================
                Responsive CSS
============================================
*/
@media only screen and (max-width: 600px) {
    .dashboard-sidebar ul a li span {
        display: none;
    }
}