/* 
    ==================================================================
                            Utilities
    ==================================================================
*/

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #dbe2fb;
    line-height: 28px;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    background: #001232;
}

/* Scroll Bar Css */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px white; */
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: black;
}

/* 
    ==================================================================
                            Responsive CSS
    ==================================================================
*/
@media (max-width: 767px) {
    .screen-wrapper::-webkit-scrollbar {
        height: 3px;
    }
}