/* 
============================================
                Utilities
============================================
*/

/* 
============================================
                Main CSS
============================================
*/


.table-dark {
    --bs-table-bg: #001232;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #11326f78;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #11326F;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #11326F;
}

/* 
============================================
                Responsive CSS
============================================
*/